<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
	<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
	<title>Reset Password Email Template</title>
	<meta name="description" content="Reset Password Email Template." />
	<style type="text/css">
		a:hover {
			text-decoration: underline !important;
		}
	</style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8" leftmargin="0">
	<!--100% body table-->
	<table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8">
		<tr>
			<td>
				<table style="background-color: #f2f3f8; max-width: 670px; margin: 0 auto" width="100%" border="0"
					align="center" cellpadding="0" cellspacing="0">
					<tr>
						<td style="height: 80px">&nbsp;</td>
					</tr>
					<tr>
						<td style="text-align: center">
							<a href="https://portal.dev.bodegaswimwear.com" title="logo" target="_blank">
								<img width="200" src="https://portal.dev.bodegaswimwear.com/assets/img/header-logo.png"
									title="logo" alt="logo" />
							</a>
						</td>
					</tr>
					<tr>
						<td style="height: 20px">&nbsp;</td>
					</tr>
					<tr>
						<td>
							<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
								style="max-width: 670px; background: #fff; border-radius: 3px; text-align: center; -webkit-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06); -moz-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06); box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);">
								<tr>
									<td style="height: 40px">&nbsp;</td>
								</tr>
								<tr>
									<td style="padding: 0 35px">
										<p style="color: #455056; font-size: 15px; line-height: 24px; margin: 0;">
											We've received inquiry from the user, and inquiry details are as per below:
										</p>

									</td>
								</tr>
								<tr>
									<td style="height: 40px">&nbsp;</td>
								</tr>
								<tr>
									<td>
										<table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
											style="max-width: 670px; background: #fff; border-radius: 3px; text-align: center; -webkit-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06); -moz-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06); box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);">
											<tr>
												<td style="height: 10px">&nbsp;</td>
											</tr>
											<tr th:each="instance : ${contactData}">
												<td  style="border: 1px solid #e0e0e0; padding: 10px 15px;font-weight: bold; " th:text="${instance.key}"></td>
												<td  style="border: 1px solid #e0e0e0; padding: 10px 15px;" th:text="${instance.value}"></td>
											</tr>
											<tr>
												<td style="height: 40px">&nbsp;</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</td>

					</tr>

					<tr>
						<td style="height: 20px">&nbsp;</td>
					</tr>
					<tr>
						<td style="text-align: center">
							<p
								style="font-size: 14px; color: rgba(69, 80, 86, 0.7411764705882353); line-height: 18px; margin: 0 0 0;">
								&copy; <strong>2021 Humaine AI All Rights Reserved</strong>
							</p>
						</td>
					</tr>
					<tr>
						<td style="height: 80px">&nbsp;</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>
	<!--/100% body table-->
</body>

</html>