<div class="animated fadeIn">
  <!-- Filter -- Start -->
  <div class="row">
    <div class="col-md-12">
      <div class="card" *ngxPermissionsOnly="['REVIEW_LIST', 'SUPER_ADMIN']">
        <form (ngSubmit)="searchApply()" novalidate #searchFrm="ngForm">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <input
                    [(ngModel)]="name"
                    type="text"
                    name="name"
                    class="form-control"
                    placeholder="{{ 'FROM_NAME' | translate }} / {{
                      'TO_NAME' | translate
                    }}"
                  />
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group pull-right">
                  <button type="submit" class="btn btn-primary mr-10">
                    <i class="fa fa-search"></i> {{ "SEARCH" | translate }}
                  </button>
                  <button
                    type="button"
                    class="btn btn-warning"
                    (click)="resetSearch()"
                  >
                    <i class="fa fa-refresh"></i> {{ "RESET" | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Filter -- End -->
  <!-- Review List -- Start -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-star"></i> {{ "REVIEW_LIST" | translate }}
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group show-select">
                <label
                  >{{ "SHOW" | translate }}
                  <select
                    name="showRecords"
                    [(ngModel)]="size"
                    (change)="changeLimit(size)"
                    class="form-control"
                  >
                    <option [value]="limit" *ngFor="let limit of limitList">{{
                      limit
                    }}</option>
                  </select>
                  {{ "ENTRIES" | translate }}
                </label>
              </div>
            </div>
          </div>
          <div class="wrap-datatable pos-rel">
            <div *ngIf="loadingIndicator" class="processing">Processing...</div>
            <ngx-datatable
              [rows]="reviewList"
              class="material fullscreen"
              headerHeight="headerHeight"
              footerHeight="footerHeight"
              rowHeight="rowHeight"
              [reorderable]="reorderable"
              [columnMode]="ColumnMode.force"
              #datatable
              [scrollbarH]="scrollbarH"
              [externalSorting]="serverSorting"
              (sort)="onSort($event)"
              [sorts]="[{ prop: sortParam, dir: sortOrder }]"
              [externalPaging]="serverPaging"
              [count]="totalReords"
              [offset]="pageNumber"
              [limit]="size"
              (page)="setPage($event)"
              [messages]="dtMessages"
            >
              <ngx-datatable-column
                name="{{ 'SR_NO' | translate }}"
                headerClass="no-sorting text-center"
                prop="reviewId"
                [sortable]="false"
                [width]="70"
              >
                <ng-template
                  let-value="value"
                  let-rowIndex="rowIndex"
                  ngx-datatable-cell-template
                >
                  <div class="text-center">{{ rowIndex + 1 }}</div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'FROM_NAME' | translate }}"
                prop="from_firstname"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  <ng-template
                    [ngxPermissionsOnly]="['USER_VIEW', 'SUPER_ADMIN']"
                    [ngxPermissionsOnlyThen]="thenBlock"
                    [ngxPermissionsOnlyElse]="elseBlock"
                  >
                  </ng-template>
                  <ng-template #elseBlock>
                    <div>{{ row.fromName }}</div>
                  </ng-template>
                  <ng-template #thenBlock>
                    <a
                      routerLink="/manage-user/view/{{ row.given_by }}"
                      title="View"
                      >{{ row.fromName }}</a
                    >
                  </ng-template>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'TO_NAME' | translate }}"
                prop="to_firstname"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  <ng-template
                    [ngxPermissionsOnly]="['USER_VIEW', 'SUPER_ADMIN']"
                    [ngxPermissionsOnlyThen]="thenBlockBy"
                    [ngxPermissionsOnlyElse]="elseBlockBy"
                  >
                  </ng-template>
                  <ng-template #elseBlockBy>
                    <div>{{ row.toName }}</div>
                  </ng-template>
                  <ng-template #thenBlockBy>
                    <a
                      routerLink="/manage-user/view/{{ row.user_id }}"
                      title="View"
                      >{{ row.toName }}</a
                    >
                  </ng-template>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'RATING' | translate }}"
                prop="rating"
              >
                <ng-template
                  let-value="value"
                  let-row="row"
                  ngx-datatable-cell-template
                >
                  <rating
                    [max]="5"
                    [(ngModel)]="value"
                    [readonly]="true"
                    [customTemplate]="ratingTemp"
                    class="rating"
                    [titles]="['1', '2', '3', '4', '5']"
                  ></rating>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'REVIEW' | translate }}"
                prop="review"
                [sortable]="false"
                headerClass="text-center"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <div class="text-center white-space-normal">
                    <ng-template #reviewTemplate
                      ><div [innerHtml]="value"></div
                    ></ng-template>
                    <div *ngIf="value?.length >= 50">
                      <span [innerHTML]="value | slice: 0:49"></span>...
                      <a
                        href="javascript:void(0)"
                        class="text-nowrap view-link"
                        [popover]="reviewTemplate"
                        container="body"
                        [outsideClick]="true"
                        >Show more</a
                      >
                    </div>
                    <div *ngIf="value?.length < 50">
                      <span [innerHTML]="value"></span>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'CREATED_AT' | translate }}"
                prop="createdDate"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value | customDate: momentDateTime24Format }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'STATUS' | translate }}"
                prop="status"
                headerClass="text-center"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <div class="text-center">
                    <span [ngClass]="getStatusClass(value)" class="badge">{{
                      value
                    }}</span>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'ACTION' | translate }}"
                prop="id"
                [frozenRight]="piningRight"
                [sortable]="false"
                headerClass="text-center no-sorting"
                *ngxPermissionsOnly="[
                  'SUPER_ADMIN',
                  'REVIEW_DELETE',
                  'REVIEW_STATUS'
                ]"
              >
                <ng-template
                  let-value="value"
                  let-row="row"
                  ngx-datatable-cell-template
                >
                  <div class="text-center action-btn">
                    <a
                      *ngxPermissionsOnly="['REVIEW_STATUS', 'SUPER_ADMIN']"
                      (click)="openModal(templateStatus, row.id, row.status)"
                      title="{{ 'CHANGE_STATUS' | translate }}"
                      ><i
                        [ngClass]="{
                          'fa-toggle-on': row.status == 'Active',
                          'fa-toggle-off': row.status == 'Inactive'
                        }"
                        class="fa fa-lg"
                      ></i></a
                    >&nbsp;
                    <a
                      *ngxPermissionsOnly="['REVIEW_DELETE', 'SUPER_ADMIN']"
                      (click)="openModal(templateDelete, row.id)"
                      title="{{ 'DELETE' | translate }}"
                      ><i class="fa fa-trash-o fa-lg"></i>
                    </a>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Review List -- End -->
</div>
<ng-template #templateStatus>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      <h5 class="modal-title">
        <i class="fa fa-info-circle modal-icon"></i>
        {{ "CONFIRMATION" | translate }}
      </h5>
      <button type="button" class="close" (click)="decline()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <p>{{ "CONFIRM_STATUS_MSG" | translate }}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="changeStatus()">
        {{ "YES" | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="decline()">
        {{ "NO" | translate }}
      </button>
    </div>
  </div>
</ng-template>
<ng-template #templateDelete>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      <h5 class="modal-title">
        <i class="fa fa-info-circle modal-icon"></i>
        {{ "CONFIRMATION" | translate }}
      </h5>
      <button type="button" class="close" (click)="decline()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <p>{{ "CONFIRM_DELETE_MSG" | translate }}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="deleteReview()">
        {{ "YES" | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="decline()">
        {{ "NO" | translate }}
      </button>
    </div>
  </div>
</ng-template>
<ng-template #ratingTemp let-i="index" let-v="value">
  <i class="fa fa-star fa-lg pr-1" [ngClass]="i < v ? 'theme-color' : ''"></i>
</ng-template>
<app-loader></app-loader>
