<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header"><i class="icon-envelope"></i> {{ 'EMAIL_TEMPLATE_LIST' | translate }}
        <a *ngxPermissionsOnly="['EMAIL_TEMP_ADD', 'SUPER_ADMIN']" routerLink="/email/add" class="btn btn-primary pull-right"
        ><i class="fa fa-plus-circle fa-lg"></i> {{ 'ADD_NEW' | translate }}</a>
      </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group show-select">
                <label
                  >{{ 'SHOW' | translate }}
                  <select name="showRecords" [(ngModel)]="size" (change)="changeLimit(size)" class="form-control">
                    <option [value]="limit" *ngFor="let limit of limitList">{{ limit }}</option>
                  </select>
                  {{ 'ENTRIES' | translate }}
                </label>
              </div>
            </div>
            <div class="col-md-6 form-group">
              <input
                [(ngModel)]="global_search"
                (keyup)="filterDatatable()"
                type="text"
                name="global_search"
                class="form-control col-md-6 pull-right"
                placeholder="{{ 'SEARCH' | translate }}..."
                autocomplete="off"
              />
            </div>
          </div>
          <div class="wrap-datatable pos-rel">
            <div *ngIf="loadingIndicator" class="processing">Processing...</div>
            <ngx-datatable
              [rows]="emailList"
              class="material fullscreen"
              headerHeight="headerHeight"
              footerHeight="footerHeight"
              rowHeight="rowHeight"
              [reorderable]="reorderable"
              [columnMode]="ColumnMode.force"
              #datatable
              [scrollbarH]="scrollbarH"
              [messages]="dtMessages"
              [limit]="size"
              (sort)="onSort($event)"
              [sorts]="[{ prop: sortParam, dir: sortOrder }]"
              (page)="setPage($event)"
              [offset]="pageNumber"
            >
              <ngx-datatable-column name="{{ 'SR_NO' | translate }}" headerClass="no-sorting text-center" [sortable]="false" [width]="70">
                <ng-template let-value="value" let-rowIndex="rowIndex" ngx-datatable-cell-template>
                  <div class="text-center">{{ rowIndex + 1 }}</div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column name="{{ 'EMAIL_SUBJECT' | translate }}" prop="emailSubject"></ngx-datatable-column>
              <ngx-datatable-column name="{{ 'TEMPLATE_FOR' | translate }}" prop="templatePurpose"></ngx-datatable-column>
              <ngx-datatable-column name="{{ 'TEMPLATE_TYPE' | translate }}" prop="templateType"></ngx-datatable-column>
              <ngx-datatable-column name="{{ 'STATUS' | translate }}" prop="status" headerClass="text-center">
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <div class="text-center">
                    <span [ngClass]="getStatusClass(value)" class="badge">{{ value }}</span>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'ACTION' | translate }}"
                prop="id"
                [frozenRight]="piningRight"
                [sortable]="false"
                headerClass="text-center no-sorting"
                *ngxPermissionsOnly="['EMAIL_TEMP_UPDATE', 'EMAIL_TEMP_STATUS', 'SUPER_ADMIN']"
              >
                <ng-template let-value="value" let-row="row" ngx-datatable-cell-template>
                  <div class="text-center">
                    <a
                      *ngxPermissionsOnly="['EMAIL_TEMP_UPDATE', 'SUPER_ADMIN']"
                      routerLink="/email/edit/{{ row.templateId }}"
                      title="{{ 'EDIT' | translate }}"
                    >
                      <i class="fa fa-pencil-square-o fa-lg"></i></a
                    >&nbsp;
                    <a
                      *ngxPermissionsOnly="['SUPER_ADMIN', 'EMAIL_TEMP_STATUS']"
                      (click)="openModal(templateStatus, row.templateId, row.status)"
                      title="{{ 'CHANGE_STATUS' | translate }}"
                      ><i
                        [ngClass]="{ 'fa-toggle-on': row.status == 'Active', 'fa-toggle-off': row.status == 'Inactive' }"
                        class="fa fa-lg"
                      ></i
                    ></a>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
<ng-template #templateStatus>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      <h5 class="modal-title">
        <i class="fa fa-info-circle modal-icon"></i>
        {{ 'CONFIRMATION' | translate }}
      </h5>
      <button type="button" class="close" (click)="decline()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <p>{{ 'CONFIRM_STATUS_MSG' | translate }}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="changeStatus()">
        {{ 'YES' | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="decline()">
        {{ 'NO' | translate }}
      </button>
    </div>
  </div>
</ng-template>
<app-loader></app-loader>
