:host
{
    display: block;
}
.graph {
    height: 42px !important;
    width: 100px !important;
}

@media only screen and (max-width: 767px ) {
    .graph {
        height: 42px !important;
        width: 150px !important;
    }
}

@media only screen and (max-width: 1024px) {
    .graph {
        height: 42px !important;
        width: 170px !important;
    }
}
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px) 
  and (-webkit-min-device-pixel-ratio: 2)
{
    .graph {
        height: 42px !important;
        width: 150px !important;
    }
}