<div class="app-body login-page-module">
  <main class="main d-flex align-items-center">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card-group">
            <div class="card p-4">
              <div class="card-body">
                <form #rf="ngForm" novalidate (ngSubmit)="rf.form.valid && onSubmit(rf)" *ngIf="isDisplayForm">
                  <h1 class="outer-head-text">Reset Password</h1>
                  <div class="form-group row">
                    <label for="password" class="col-md-12">New Password <span class="asterisk_input"></span></label>
                    <div class="col-md-12 col-xs-12">
                      <input
                        type="password"
                        name="password"
                        pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*\d)(?=.*[@!$%^&amp;#])[A-Za-z\d@!$%^&amp;#]{8,50}$"
                        class="form-control"
                        placeholder="New Password"
                        (change)="checkPass()"
                        [(ngModel)]="model.password"
                        required
                        #password="ngModel"
                      />

                      <div *ngIf="password.errors && rf.submitted" class="text-danger">
                        <span *ngIf="password.errors.required">
                          Please enter password
                        </span>
                        <span *ngIf="password.errors.pattern">
                          Password must contain 1 upper case, 1 number, 1 special character ( @ ! $ % ^ & #) & minimum 8 characters
                        </span>
                      </div>
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="confirmpass" class="control-label col-md-12">Confirm Password <span class="asterisk_input"></span></label>
                    <div class="col-md-12 col-xs-12">
                      <input
                        type="password"
                        class="form-control"
                        required
                        [(ngModel)]="model.cpassword"
                        #confirm_pass="ngModel"
                        name="confirm_pass"
                        [pattern]="model.conf_pass_match"
                        placeholder="Confirm Password"
                      />
                      <div *ngIf="confirm_pass.errors && rf.submitted" class="text-danger">
                        <span *ngIf="rf.submitted && confirm_pass.errors.required">
                          Please enter confirm password
                        </span>
                        <span *ngIf="rf.submitted && confirm_pass.errors.pattern">
                          Confirm Password should match with password
                        </span>
                      </div>
                    </div>
                  </div>

                  <div class="divider"></div>
                  <div class="row">
                    <div class="col-md-12">
                      <button type="submit" class="btn btn-primary px-4 mr-10">Reset</button>
                      <button type="button" class="btn btn-warning px-4" [routerLink]="['/login']">Cancel</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
<app-loader></app-loader>
