<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <form (ngSubmit)="onCitySave(cityFrm)" novalidate #cityFrm="ngForm">
          <div class="card-body">
            <p class="col-sm-12 text-right requiredLabel">
              <span [innerHTML]="'FORM_NOTE' | translate"></span>
            </p>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label
                    >{{ "COUNTRY_NAME" | translate }}
                    <span class="asterisk_input"></span
                  ></label>
                  <select
                    class="form-control"
                    [(ngModel)]="model.countryId"
                    name="countryId"
                    required
                    #countryId="ngModel"
                    (change)="getStateList()"
                  >
                    <option value="">{{ "SELECT_COUNTRY" | translate }}</option>
                    <option
                      [hidden]="country.locale != 'en'"
                      [value]="country.transId"
                      *ngFor="let country of countryList"
                      >{{ country.name }}</option
                    >
                  </select>
                  <div
                    class="form-control-feedback text-danger"
                    *ngIf="countryId.errors && cityFrm.submitted"
                  >
                    <p *ngIf="countryId.errors.required">
                      {{ "PLEASE_SELECT_COUNTRY" | translate }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label
                    >{{ "STATE_NAME" | translate }}
                    <span class="asterisk_input"></span
                  ></label>
                  <select
                    class="form-control"
                    [(ngModel)]="model.stateId"
                    name="stateId"
                    required
                    #stateId="ngModel"
                    [disabled]="!model.countryId"
                  >
                    <option value="">{{ "SELECT_STATE" | translate }}</option>
                    <option
                      [value]="state.stateId"
                      *ngFor="let state of stateList"
                      >{{ state.name }}</option
                    >
                  </select>
                  <div
                    class="form-control-feedback text-danger"
                    *ngIf="stateId.errors && cityFrm.submitted"
                  >
                    <p *ngIf="stateId.errors.required">
                      {{ "PLEASE_SELECT_STATE" | translate }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6" *ngFor="let lan of languages">
                <div class="form-group">
                  <label
                    >{{ "CITY_NAME" | translate }} ({{ lan.name }})
                    <span class="asterisk_input"></span
                  ></label>
                  <input
                    [(ngModel)]="model.cityName[lan.locale]"
                    [style.direction]="lan.text_direction"
                    type="text"
                    name="cityName_{{ lan.locale }}"
                    class="form-control"
                    placeholder="{{ 'CITY_NAME' | translate }}"
                    required
                    #cityName="ngModel"
                  />
                  <div
                    class="form-control-feedback text-danger"
                    *ngIf="cityName.errors && cityFrm.submitted"
                  >
                    <p *ngIf="cityName.errors.required">
                      {{ "PLEASE_ENTER_CITY_NAME" | translate }}
                    </p>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label class="col-form-label" for="status">
                    {{ "STATUS" | translate }}
                    <span class="asterisk_input"></span
                  ></label>
                  <div class="d-block">
                    <div class="form-check-inline">
                      <label class="form-check-label"
                        >{{ "STATUS_LIST.ACTIVE" | translate }}
                        <input
                          [(ngModel)]="model.status"
                          name="status"
                          class="form-check-input"
                          type="radio"
                          id="active"
                          value="Active"
                          required
                          #status="ngModel"
                        />
                        <span class="radio-span"></span>
                      </label>
                    </div>
                    <div class="form-check-inline">
                      <label class="form-check-label"
                        >{{ "STATUS_LIST.INACTIVE" | translate }}
                        <input
                          class="form-check-input"
                          name="status"
                          [(ngModel)]="model.status"
                          type="radio"
                          id="inactive"
                          value="Inactive"
                          required
                          #status="ngModel"
                        />
                        <span class="radio-span"></span>
                      </label>
                    </div>
                  </div>
                  <div
                    class="form-control-feedback text-danger"
                    *ngIf="status.errors && cityFrm.submitted"
                  >
                    <p *ngIf="status.errors.required">Please select status</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary">
              <i class="fa fa-check-circle-o fa-lg"></i>
              {{ "SAVE" | translate }}</button
            >&nbsp;
            <a class="btn btn-warning" [routerLink]="['/location/city']"
              ><i class="fa fa-times"></i> {{ "CANCEL" | translate }}</a
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-loader></app-loader>
