<div class="animated fadeIn">
  <!-- Filter -- Start -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <form (ngSubmit)="searchApply()" novalidate #searchFrm="ngForm">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 col-12">
                <div class="form-group">
                  <select
                    [(ngModel)]="filter.category_name"
                    name="category_name"
                    class="form-control"
                  >
                    <option value="">Select Category</option>
                    <option
                      [value]="cat.name"
                      *ngFor="let cat of categoryList"
                      >{{ cat.name }}</option
                    >
                  </select>
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="form-group">
                  <input
                    [(ngModel)]="filter.suggestion"
                    type="text"
                    name="suggestion"
                    class="form-control"
                    placeholder="{{ 'INFORMATION' | translate }}"
                  />
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="form-group">
                  <input
                    [(ngModel)]="filter.posted_name"
                    type="text"
                    name="posted_name"
                    class="form-control"
                    placeholder="{{ 'POSTED_BY' | translate }}"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 col-12">
                <div class="form-group">
                  <select
                    class="form-control"
                    [(ngModel)]="filter.status"
                    name="status"
                  >
                    <option value="">{{ "SELECT_STATUS" | translate }}</option>
                    <option value="Pending">Pending</option>
                    <option value="Accepted">Accepted</option>
                    <option value="Rejected">Rejected</option>
                  </select>
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group pull-right">
                  <button type="submit" class="btn btn-primary mr-10">
                    <i class="fa fa-search"></i> {{ "SEARCH" | translate }}
                  </button>
                  <button
                    type="button"
                    class="btn btn-warning"
                    (click)="resetSearch()"
                  >
                    <i class="fa fa-refresh"></i> {{ "RESET" | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Filter -- End -->
  <div class="row">
    <div class="col-lg-12">
      <div
        class="card"
        *ngxPermissionsOnly="['SUGGESTION_LIST', 'SUPER_ADMIN']"
      >
        <div class="card-header">
          <i class="fa fa-comments-o"></i> {{ "SUGGESTION_LIST" | translate }}
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group show-select">
                <label
                  >{{ "SHOW" | translate }}
                  <select
                    name="showRecords"
                    [(ngModel)]="size"
                    (change)="changeLimit(size)"
                    class="form-control"
                  >
                    <option [value]="limit" *ngFor="let limit of limitList">{{
                      limit
                    }}</option>
                  </select>
                  {{ "ENTRIES" | translate }}
                </label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="pull-right">
                <button
                  (click)="downloadData('excel')"
                  title="{{ 'EXPORT_TO_EXCEL' | translate }}"
                  class="btn btn-success mr-10"
                >
                  <i class="fa fa-file-excel-o fa-lg"></i>
                </button>
                <button
                  (click)="downloadData('pdf')"
                  title="{{ 'EXPORT_TO_PDF' | translate }}"
                  class="btn btn-success mr-10"
                >
                  <i class="fa fa-file-pdf-o fa-lg"></i>
                </button>
                <button
                  (click)="downloadData('csv')"
                  title="{{ 'EXPORT_TO_CSV' | translate }}"
                  class="btn btn-success"
                >
                  <i class="fa fa-file-text-o fa-lg"></i>
                </button>
              </div>
            </div>
          </div>
          <div class="wrap-datatable pos-rel">
            <div *ngIf="loadingIndicator" class="processing">Processing...</div>
            <ngx-datatable
              [rows]="suggestionList"
              class="material fullscreen"
              headerHeight="headerHeight"
              footerHeight="footerHeight"
              rowHeight="rowHeight"
              [reorderable]="reorderable"
              [columnMode]="ColumnMode.force"
              #datatable
              [scrollbarH]="scrollbarH"
              [externalSorting]="serverSorting"
              (sort)="onSort($event)"
              [sorts]="[{ prop: sortParam, dir: sortOrder }]"
              [externalPaging]="serverPaging"
              [count]="totalReords"
              [offset]="pageNumber"
              [limit]="size"
              (page)="setPage($event)"
              [messages]="dtMessages"
            >
              <ngx-datatable-column
                name="{{ 'SR_NO' | translate }}"
                headerClass="no-sorting text-center"
                prop="suggestionId"
                [sortable]="false"
                [width]="70"
              >
                <ng-template
                  let-value="value"
                  let-rowIndex="rowIndex"
                  ngx-datatable-cell-template
                >
                  <div class="text-center">{{ rowIndex + 1 }}</div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'SUGGESTION_CATEGORY' | translate }}"
                prop="category"
              ></ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'INFORMATION' | translate }}"
                prop="suggestion"
                headerClass="text-center"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <div class="text-center white-space-normal">
                    <ng-template #descTemplate
                      ><div [innerHtml]="value"></div
                    ></ng-template>
                    <div *ngIf="value?.length >= 50">
                      <span [innerHTML]="value | slice: 0:49"></span>...
                      <a
                        href="javascript:void(0)"
                        class="text-nowrap"
                        [popover]="descTemplate"
                        container="body"
                        [outsideClick]="true"
                        >Show more</a
                      >
                    </div>
                    <div *ngIf="value?.length < 50">
                      <span [innerHTML]="value"></span>
                    </div>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'POSTED_BY' | translate }}"
                prop="createdBy"
                [sortable]="false"
                headerClass="text-center no-sorting"
              >
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'POSTED_AT' | translate }}"
                prop="createdDate"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value | customDate: momentDateTime24Format }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'STATUS' | translate }}"
                prop="status"
                headerClass="text-center"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <div class="text-center">
                    <span [ngClass]="getStatusClass(value)" class="badge">{{
                      value
                    }}</span>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'ACTION' | translate }}"
                prop="id"
                [frozenRight]="piningRight"
                [sortable]="false"
                headerClass="text-center no-sorting"
                *ngxPermissionsOnly="[
                  'SUPER_ADMIN',
                  'SUGGESTION_STATUS',
                  'SUGGESTION_DELETE'
                ]"
              >
                <ng-template
                  let-value="value"
                  let-row="row"
                  ngx-datatable-cell-template
                >
                  <div class="text-center">
                    <a
                      *ngxPermissionsOnly="['SUGGESTION_STATUS', 'SUPER_ADMIN']"
                      (click)="
                        openModal(
                          templateStatus,
                          row.suggestionId,
                          row.status,
                          row.notes
                        )
                      "
                      title="Change Status"
                      ><i
                        [ngClass]="{
                          'fa-toggle-on': row.status == 'Accepted',
                          'fa-toggle-off':
                            row.status == 'Rejected' || row.status == 'Pending'
                        }"
                        class="fa fa-lg"
                      ></i></a
                    >&nbsp;
                    <a
                      *ngxPermissionsOnly="['SUGGESTION_DELETE', 'SUPER_ADMIN']"
                      (click)="openModal(templateDelete, row.suggestionId)"
                      title="Delete"
                      ><i class="fa fa-trash-o fa-lg"></i>
                    </a>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
</div>
<ng-template #templateStatus>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      <h5 class="modal-title">
        <i class="fa fa-info-circle modal-icon"></i>
        {{ "CHANGE_STATUS" | translate }}
      </h5>
      <button type="button" class="close" (click)="decline()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form (ngSubmit)="changeStatus(statusFrm)" novalidate #statusFrm="ngForm">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label
                >{{ "STATUS" | translate }} <span class="asterisk_input"></span
              ></label>
              <select
                class="form-control"
                [(ngModel)]="changedStatus"
                #status="ngModel"
                name="status"
                required
              >
                <option value="">Select Status</option>
                <option value="Accepted">Accept</option>
                <option value="Rejected">Reject</option>
              </select>
              <div *ngIf="status.errors && statusFrm.submitted">
                <span *ngIf="status.errors.required" class="text-danger">
                  {{ "PLEASE_SELECT_STATUS" | translate }}
                </span>
              </div>
            </div>
            <div class="form-group">
              <label>{{ "NOTES" | translate }}</label>
              <textarea
                class="form-control"
                [(ngModel)]="notes"
                placeholder="{{ 'NOTES' | translate }}"
                #sug_note="ngModel"
                name="sug_note"
              ></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">
          {{ "SUBMIT" | translate }}
        </button>
        <button type="button" class="btn btn-warning" (click)="decline()">
          {{ "CLOSE" | translate }}
        </button>
      </div>
    </form>
  </div>
</ng-template>

<ng-template #templateDelete>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      <h5 class="modal-title">
        <i class="fa fa-info-circle modal-icon"></i>
        {{ "CONFIRMATION" | translate }}
      </h5>
      <button type="button" class="close" (click)="decline()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <p>{{ "CONFIRM_DELETE_MSG" | translate }}</p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-primary"
        (click)="deleteSuggestion()"
      >
        {{ "YES" | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="decline()">
        {{ "NO" | translate }}
      </button>
    </div>
  </div>
</ng-template>
<app-loader></app-loader>
