<div class="animated fadeIn">
  <!-- Filter -- Start -->
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <form (ngSubmit)="searchApply()" novalidate #searchFrm="ngForm">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4 col-12">
                <div class="form-group">
                  <input
                    [(ngModel)]="filter.banner_title"
                    type="text"
                    name="banner_title"
                    class="form-control"
                    placeholder="{{ 'BANNER_TITLE' | translate }}"
                  />
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="form-group">
                  <input
                    [(ngModel)]="filter.created_by"
                    type="text"
                    name="created_by"
                    class="form-control"
                    placeholder="{{ 'CREATED_BY' | translate }}"
                  />
                </div>
              </div>
              <div class="col-md-4 col-12">
                <div class="form-group">
                  <select
                    class="form-control"
                    [(ngModel)]="filter.status"
                    name="status"
                  >
                    <option value="">{{ "SELECT_STATUS" | translate }}</option>
                    <option value="ACTIVE">{{
                      "STATUS_LIST.ACTIVE" | translate
                    }}</option>
                    <option value="INACTIVE">{{
                      "STATUS_LIST.INACTIVE" | translate
                    }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-12">
                <div class="form-group pull-right">
                  <button type="submit" class="btn btn-primary mr-10">
                    <i class="fa fa-search"></i> {{ "SEARCH" | translate }}
                  </button>
                  <button
                    type="button"
                    class="btn btn-warning"
                    (click)="resetSearch()"
                  >
                    <i class="fa fa-refresh"></i> {{ "RESET" | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Filter -- End -->
  <!-- Banner List -- Start -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card" *ngxPermissionsOnly="['BANNER_LIST', 'SUPER_ADMIN']">
        <div class="card-header">
          <i class="fa fa-file-image-o"></i> {{ "BANNER_LIST" | translate }}
          <a
            *ngxPermissionsOnly="['BANNER_CREATE', 'SUPER_ADMIN']"
            routerLink="/manage-banner/add"
            class="btn btn-primary pull-right"
            ><i class="fa fa-plus-circle fa-lg"></i>
            {{ "ADD_NEW" | translate }}</a
          >
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group show-select">
                <label
                  >{{ "SHOW" | translate }}
                  <select
                    name="showRecords"
                    [(ngModel)]="size"
                    (change)="changeLimit(size)"
                    class="form-control"
                  >
                    <option [value]="limit" *ngFor="let limit of limitList">{{
                      limit
                    }}</option>
                  </select>
                  {{ "ENTRIES" | translate }}
                </label>
              </div>
            </div>
          </div>
          <div class="pos-rel">
            <div *ngIf="loadingIndicator" class="processing">Processing...</div>
            <ngx-datatable
              [rows]="manageBannerList"
              class="material fullscreen"
              headerHeight="headerHeight"
              footerHeight="footerHeight"
              rowHeight="rowHeight"
              [reorderable]="reorderable"
              [columnMode]="ColumnMode.force"
              #datatable
              [scrollbarH]="scrollbarH"
              [externalSorting]="serverSorting"
              (sort)="onSort($event)"
              [sorts]="[{ prop: sortParam, dir: sortOrder }]"
              [externalPaging]="serverPaging"
              [count]="totalReords"
              [offset]="pageNumber"
              [limit]="size"
              (page)="setPage($event)"
              [messages]="dtMessages"
            >
              <ngx-datatable-column
                name="{{ 'SR_NO' | translate }}"
                headerClass="no-sorting text-center"
                prop="id"
                [sortable]="false"
                [width]="70"
              >
                <ng-template
                  let-value="value"
                  let-rowIndex="rowIndex"
                  ngx-datatable-cell-template
                >
                  <div class="text-center">{{ rowIndex + 1 }}</div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'BANNER_THUMB' | translate }}"
                prop="image"
                headerClass="text-center"
                [sortable]="false"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <div class="text-center">
                    <a (click)="openModalForImage(value)" title="View Image"
                      ><img src="{{ value }}" width="50px" height="50px"
                    /></a>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'BANNER_TITLE' | translate }}"
                prop="bannerTitle"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  {{ row.titleEN }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'CREATED_BY' | translate }}"
                prop="userProfile.firstName"
              >
                <ng-template
                  let-value="value"
                  let-row="row"
                  ngx-datatable-cell-template
                >
                  {{
                    row.user.userProfile.firstName +
                      " " +
                      row.user.userProfile.lastName
                  }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'CREATED_AT' | translate }}"
                prop="createdDate"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  {{ value | customDate: momentDateTime24Format }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'STATUS' | translate }}"
                prop="status"
                headerClass="text-center"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <div class="text-center">
                    <span [ngClass]="getStatusClass(value)" class="badge">{{
                      value
                    }}</span>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'ACTION' | translate }}"
                prop="id"
                [frozenRight]="piningRight"
                [sortable]="false"
                headerClass="text-center no-sorting"
                *ngxPermissionsOnly="[
                  'SUPER_ADMIN',
                  'BANNER_UPDATE',
                  'BANNER_STATUS',
                  'BANNER_DELETE'
                ]"
              >
                <ng-template
                  let-value="value"
                  let-row="row"
                  ngx-datatable-cell-template
                >
                  <div class="text-center">
                    <a
                      *ngxPermissionsOnly="['BANNER_UPDATE', 'SUPER_ADMIN']"
                      routerLink="/manage-banner/edit/{{ row.id }}"
                      title="{{ 'EDIT' | translate }}"
                      ><i class="fa fa-pencil-square-o fa-lg"></i></a
                    >&nbsp;
                    <a
                      *ngxPermissionsOnly="['BANNER_STATUS', 'SUPER_ADMIN']"
                      (click)="openModal(templateStatus, row.id, row.status)"
                      title="{{ 'CHANGE_STATUS' | translate }}"
                      ><i
                        [ngClass]="{
                          'fa-toggle-on': row.status == 'ACTIVE',
                          'fa-toggle-off': row.status == 'INACTIVE'
                        }"
                        class="fa fa-lg"
                      ></i></a
                    >&nbsp;
                    <a
                      *ngxPermissionsOnly="['BANNER_DELETE', 'SUPER_ADMIN']"
                      (click)="openModal(templateDeleteManageBanner, row.id)"
                      title="{{ 'DELETE' | translate }}"
                      ><i class="fa fa-trash-o fa-lg"></i>
                    </a>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Banner List -- Start -->
</div>

<ng-template #templateStatus>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      <h5 class="modal-title">
        <i class="fa fa-info-circle modal-icon"></i>
        {{ "CONFIRMATION" | translate }}
      </h5>
      <button type="button" class="close" (click)="decline()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <p>{{ "CONFIRM_STATUS_MSG" | translate }}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="changeStatus()">
        {{ "YES" | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="decline()">
        {{ "NO" | translate }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #templateDeleteManageBanner>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      <h5 class="modal-title">
        <i class="fa fa-info-circle modal-icon"></i>
        {{ "CONFIRMATION" | translate }}
      </h5>
      <button type="button" class="close" (click)="decline()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <p>{{ "CONFIRM_DELETE_MSG" | translate }}</p>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-primary"
        (click)="deleteManageBanner()"
      >
        {{ "YES" | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="decline()">
        {{ "NO" | translate }}
      </button>
    </div>
  </div>
</ng-template>
<app-loader></app-loader>
