<div class="animated fadeIn">
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-file-o"></i> {{ "CMS_PAGE_BUILDER" | translate }}
          <a class="btn btn-primary pull-right" [routerLink]="['/cms/list']"
            ><i class="fa fa-arrow-left"></i> {{ "BACK" | translate }}</a
          >
        </div>
        <div class="card-body">
          <div id="gjs">
            <h1>Build your template</h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
