<section class="section">
    <div class="wrapper">
        <div class="title-block" *ngIf="isResest || isPasswordChanged">
            <h2> Reset Your Password</h2>
        </div>
        <div class="form" *ngIf="isResest">
            <p>Enter the email address associated with your account, and we'll send you a link to reset password</p>
            <div class="section-one">
                <form [formGroup]="resetForm" (ngSubmit)="emailVerify()"  novalidate
                    autocomplete="off">
                    <div class="form-group">
                        <div class="col">
                            <label for="email" class="required">Work Email</label>
                            <input appSpaceRemove formControlName="email" type="text" class="form-control"
                                [ngClass]="isSubmitted && (errorControl.email.errors?.required || errorControl.email.errors?.pattern)? 'errorBorder' : 'greyBorder'"
                                placeholder="E.g. carl.fredrik@xyz.com">
                            <span class="error"
                                *ngIf="isSubmitted && errorControl && errorControl.email.errors?.required">
                                <img class="info-img"> This field is required
                            </span>
                            <span class="error"
                                *ngIf="isSubmitted && errorControl && errorControl.email.errors?.pattern">
                                <img class="info-img"> This is not valid email. Try again
                            </span>
                        </div>
                    </div>
                    <div class="form-group btn-block">
                        <button class="btn-color" appLoader text="Continue" [loading]="isEmailSubmit"></button>
                    </div>
                    <div class="bottom-text">
                        <p>Don't have an account? <a class="blue-text" [routerLink]="['/registration']">Sign Up </a> </p>
                        <a [routerLink]="['/login']" class="blue-text"> Return to Sign In</a>
                    </div>
                </form>

            </div>
        </div>

        <div class="form section-two" *ngIf="isOtpFlag">
            <div class="inner-sec">
                <img class="smiley-img" src="/assets/img/Smiley.png">
            </div>
            <h5> All good! Please check your e-mail for the instructions to reset your password.</h5>
            <p>Didn't receive an e-mail? Please check you spam folder or re-send the link.</p>
            <div class="digit-code">
                <p class="codeError" *ngIf="isInvalidCode && isOtpVefificationSubmit; else normalText">
                    Enter the correct 6 digit code here
                </p>
                <ng-template #normalText>
                    <p> Enter 6 digit code here </p>
                </ng-template>
                <app-otp-input #otp [err]="isInvalidCode" [isFormSubmitted]="isOtpVefificationSubmit">
                </app-otp-input>
                <div class="form-group btn-block">
                    <button *ngIf="otp.form.invalid; else elseBlock" class="btn-disabled" disabled>Continue</button>
                    <ng-template #elseBlock>
                        <button class="btn-color" type="button" (click)="codeVerifying(otp.value)" appLoader
                            text="Continue" [loading]="isOtpSubmit"></button>
                    </ng-template>
                </div>
            </div>
        </div>
        <div class="form section-three" *ngIf="isPasswordChanged">
            <div>
                <form [formGroup]="passwordForm" (ngSubmit)="passReset()" 
                 novalidate
                    autocomplete="off">

                    <div class="form-group">
                        <div class="col col-pad">
                            <label for="password" class="required">New Password</label>
                            <input  formControlName="password" type="password" class="form-control"
                                placeholder="********">
                            <span class="error" *ngIf="isPassword && passErrorControl.password.errors?.required">
                                <img class="info-img"> This field is required
                            </span>
                            <span class="error" *ngIf="isPassword && passErrorControl.password.errors?.pattern">
                                <img class="info-img"> Pattern should be like Eg.Carl@1990
                            </span>
                        </div>
                        <div class="col col-pad">
                            <label for="confirmPassword" class="required">Confirm Password</label>
                            <input formControlName="confirmPassword" type="password" class="form-control"
                                placeholder="********">
                            <span class="error" *ngIf="isPassword && passErrorControl.confirmPassword.errors?.required">
                                <img class="info-img"> This field is required
                            </span>
                            <span class="error" *ngIf="isPassword && passErrorControl.confirmPassword.errors?.pattern">
                                <img class="info-img"> Pattern should be like Ex: Praju@1990
                            </span>
                            <span class="error"
                                *ngIf="isPassword && passErrorControl.confirmPassword.errors?.mustMatch">
                                <img class="info-img">This password doesn't match. Try again
                            </span>
                        </div>
                    </div>
                    <div class="form-group btn-block">
                        <button class="btn-color" appLoader text="Submit" [loading]="isPasswordSubmit">Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>

