@import "../../../theme/variables.scss";
@import "../../../theme/mixins.scss";
@import "../../../theme/responsive.scss";
.section {
    width: 100%;
    background-position: 131% 0px;
    background-image: url('../../../assets/icon/Path\ 2.svg');
    background-repeat: no-repeat;
    height: 500px;
    .wrapper{
       margin-top: 150px;
       .form{
        width: 400px;
        display: flex;
        flex-flow: column;
        margin: 0 auto; 
        .col-pad{
            text-align: left;
        }
        .btn-block{
            justify-content: center;
            display: flex;
            padding-top: 30px;
        }
        ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: rgb(202, 202, 202);
            opacity: 1; /* Firefox */
            font-size: 14px;
        
          }
          .bottom-text{
              text-align: center;
              font-size: 14px;
            p{ padding: 0;} 
          }
       }
      
    }
    p{
        text-align: center;
    }
    .section-two{
        text-align: center;
        .digit-code{
            .btn-block{
                justify-content: center;
                display: flex;
                padding-top: 0;
            }
        }
        h5{
            line-height: 1em;
        }
        .inner-sec{
            padding-bottom: 20px;
        }
        p{
            padding-top: 10px;
        }
    }
}