<div class="animated fadeIn">
  <!-- Filter -- Start -->
  <div class="row">
    <div class="col-md-12">
      <div class="card" *ngxPermissionsOnly="['SUB_ADMIN_LIST', 'SUPER_ADMIN']">
        <form (ngSubmit)="searchApply()" novalidate #searchFrm="ngForm">
          <div class="card-body">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <input
                    [(ngModel)]="filter.fullname"
                    type="text"
                    name="fullname"
                    class="form-control"
                    placeholder="{{ 'FULL_NAME' | translate }}"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <input
                    [(ngModel)]="filter.email"
                    type="text"
                    name="email"
                    class="form-control"
                    placeholder="{{ 'EMAIL' | translate }}"
                  />
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <select
                    class="form-control"
                    [(ngModel)]="filter.status"
                    name="status"
                  >
                    <option value="">{{ "SELECT_STATUS" | translate }}</option>
                    <option value="Active">{{
                      "STATUS_LIST.ACTIVE" | translate
                    }}</option>
                    <option value="Inactive">{{
                      "STATUS_LIST.INACTIVE" | translate
                    }}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <select
                    class="form-control"
                    [(ngModel)]="filter.role"
                    [disabled]="true"
                    name="role_id"
                  >
                    <!-- <option value="">{{ 'SELECT_ROLE' | translate }}</option> -->
                    <option *ngFor="let role of roleList" value="{{ role.id }}">
                      {{ role.name }}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-8">
                <div class="form-group pull-right">
                  <button type="submit" class="btn btn-primary mr-10">
                    <i class="fa fa-search"></i> {{ "SEARCH" | translate }}
                  </button>
                  <button
                    type="button"
                    class="btn btn-warning"
                    (click)="resetSearch()"
                  >
                    <i class="fa fa-refresh"></i> {{ "RESET" | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- Filter -- End -->
  <!-- Sub Admin List -- Start -->
  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <i class="icon-user"></i> {{ "SUB_ADMIN_LIST" | translate }}
          <a
            *ngxPermissionsOnly="['SUB_ADMIN_CREATE', 'SUPER_ADMIN']"
            routerLink="/subadmin/add"
            class="btn btn-primary pull-right"
            ><i class="fa fa-plus-circle fa-lg"></i>
            {{ "ADD_NEW" | translate }}</a
          >
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group show-select">
                <label
                  >{{ "SHOW" | translate }}
                  <select
                    name="showRecords"
                    [(ngModel)]="size"
                    (change)="changeLimit(size)"
                    class="form-control"
                  >
                    <option [value]="limit" *ngFor="let limit of limitList">{{
                      limit
                    }}</option>
                  </select>
                  {{ "ENTRIES" | translate }}
                </label>
              </div>
            </div>
          </div>
          <div class="pos-rel">
            <div *ngIf="loadingIndicator" class="processing">Processing...</div>
            <ngx-datatable
              [rows]="subadminList"
              class="material fullscreen"
              headerHeight="headerHeight"
              footerHeight="footerHeight"
              rowHeight="rowHeight"
              [reorderable]="reorderable"
              [columnMode]="ColumnMode.force"
              #datatable
              [scrollbarH]="scrollbarH"
              [externalSorting]="serverSorting"
              (sort)="onSort($event)"
              [sorts]="[{ prop: sortParam, dir: sortOrder }]"
              [externalPaging]="serverPaging"
              [count]="totalReords"
              [offset]="pageNumber"
              [limit]="size"
              (page)="setPage($event)"
              [messages]="dtMessages"
            >
              <ngx-datatable-column
                name="{{ 'SR_NO' | translate }}"
                headerClass="no-sorting text-center"
                prop="id"
                [sortable]="false"
                [width]="70"
              >
                <!-- <ng-template let-value="value" ngx-datatable-cell-template>
                  <div class="text-center">{{ value }}</div>
                </ng-template> -->
                <ng-template
                  let-value="value"
                  let-rowIndex="rowIndex"
                  ngx-datatable-cell-template
                >
                  <div class="text-center">{{ rowIndex + 1 }}</div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'FULL_NAME' | translate }}"
                prop="firstName"
              ></ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'EMAIL' | translate }}"
                prop="userProfile.email"
                [minWidth]="250"
              >
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'ROLE' | translate }}"
                prop="userRole.roleName"
                headerClass="no-sorting"
                [sortable]="false"
              >
                <!-- <ng-template let-value="value" ngx-datatable-cell-template> -->
                <!-- {{ value[0].name }} -->
                <!-- </ng-template> -->
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'CREATED_AT' | translate }}"
                prop="createdDate"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <div class="text-center text-wrap">{{ value }}</div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'USER_NAME' | translate }}"
                prop="userName"
              >
                <!-- <ng-template let-value="value" ngx-datatable-cell-template>
                  <div class="text-center text-wrap">{{ (value | customDate: momentDateTime24Format) || '-' }}</div>
                </ng-template> -->
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'STATUS' | translate }}"
                prop="status"
                headerClass="text-center"
              >
                <ng-template let-value="value" ngx-datatable-cell-template>
                  <div class="text-center">
                    <span [ngClass]="getStatusClass(value)" class="badge">{{
                      value
                    }}</span>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'ACTION' | translate }}"
                prop="id"
                [frozenRight]="piningRight"
                [sortable]="false"
                headerClass="text-center no-sorting"
                *ngxPermissionsOnly="[
                  'SUPER_ADMIN',
                  'SUB_ADMIN_UPDATE',
                  'SUB_ADMIN_STATUS',
                  'SUB_ADMIN_CHANGE_PASSWORD',
                  'SUB_ADMIN_DELETE'
                ]"
              >
                <ng-template
                  let-value="value"
                  let-row="row"
                  ngx-datatable-cell-template
                >
                  <div class="text-center">
                    <a
                      *ngxPermissionsOnly="['SUB_ADMIN_UPDATE', 'SUPER_ADMIN']"
                      routerLink="/subadmin/edit/{{ row.id }}"
                      title="{{ 'EDIT' | translate }}"
                      ><i class="fa fa-pencil-square-o fa-lg"></i
                    ></a>
                    &nbsp;
                    <a
                      *ngxPermissionsOnly="['SUB_ADMIN_STATUS', 'SUPER_ADMIN']"
                      (click)="openModal(templateStatus, row.id, row.status)"
                      title="{{ 'CHANGE_STATUS' | translate }}"
                      ><i
                        [ngClass]="{
                          'fa-toggle-on': row.status == 'ACTIVE',
                          'fa-toggle-off': row.status == 'INACTIVE'
                        }"
                        class="fa fa-lg"
                      ></i></a
                    >&nbsp;

                    <a
                      *ngxPermissionsOnly="[
                        'SUB_ADMIN_CHANGE_PASSWORD',
                        'SUPER_ADMIN'
                      ]"
                      (click)="
                        openModal(templateChangePassword, row.id, row.status)
                      "
                      title="{{ 'CHANGE_PASSWORD' | translate }}"
                      ><i class="fa fa-key fa-lg"></i></a
                    >&nbsp;
                    <a
                      *ngxPermissionsOnly="['SUB_ADMIN_DELETE', 'SUPER_ADMIN']"
                      (click)="openModal(templateDeleteSubadmin, row.id)"
                      title="{{ 'DELETE' | translate }}"
                      ><i class="fa fa-trash-o fa-lg"></i>
                    </a>
                  </div>
                </ng-template>
              </ngx-datatable-column>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Sub Admin List -- End -->
</div>

<ng-template #templateStatus>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      <h5 class="modal-title">
        <i class="fa fa-info-circle modal-icon"></i>
        {{ "CONFIRMATION" | translate }}
      </h5>
      <button type="button" class="close" (click)="decline()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <p>{{ "CONFIRM_STATUS_MSG" | translate }}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="changeStatus()">
        {{ "YES" | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="decline()">
        {{ "NO" | translate }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #templateDeleteSubadmin>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      <h5 class="modal-title">
        <i class="fa fa-info-circle modal-icon"></i>
        {{ "CONFIRMATION" | translate }}
      </h5>
      <button type="button" class="close" (click)="decline()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body text-center">
      <p>{{ "CONFIRM_DELETE_MSG" | translate }}</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="deleteSubadmin()">
        {{ "YES" | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="decline()">
        {{ "NO" | translate }}
      </button>
    </div>
  </div>
</ng-template>

<ng-template #templateChangePassword>
  <div class="modal-content">
    <div class="modal-header bg-primary">
      <h4 class="modal-title">
        <i class="fa fa-info-circle"></i
        ><span class="ml-2">{{ "CHANGE_PASSWORD" | translate }}</span>
      </h4>
      <button type="button" class="close" (click)="decline()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form novalidate #changePassFrm="ngForm" class="">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="newpass"
                >{{ "NEW_PASSWORD" | translate }}
                <span class="asterisk_input"></span
              ></label>
              <input
                type="password"
                class="form-control"
                [(ngModel)]="newpass"
                #newpassword="ngModel"
                (change)="checkPass()"
                placeholder="{{ 'NEW_PASSWORD' | translate }}"
                name="newpass"
                required
                pattern="^(?=.*?[A-Z])(?=.*?[a-z])(?=.*\d)(?=.*[@!$%^&amp;#])[A-Za-z\d@!$%^&amp;#]{8,50}$"
              />
              <div *ngIf="newpassword.invalid && submitted" class="">
                <span *ngIf="newpassword.errors.required" class="text-danger">
                  {{ "PLEASE_ENTER_NEW_PASSWORD" | translate }}
                </span>
                <span *ngIf="newpassword.errors.pattern" class="text-danger">
                  {{ "PLEASE_ENTER_NEW_PASSWORD_VALIDATION" | translate }}
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-12">
            <div class="form-group">
              <label for="confirmpass"
                >{{ "CONFIRM_PASSWORD" | translate }}
                <span class="asterisk_input"></span
              ></label>
              <input
                type="password"
                class="form-control"
                id="confirmpass"
                [(ngModel)]="confirmpass"
                #confirmPassword="ngModel"
                placeholder="{{ 'CONFIRM_PASSWORD' | translate }}"
                name="confirmpass"
                required
                [pattern]="conf_pass_match"
              />
              <div *ngIf="confirmPassword.invalid && submitted" class="">
                <span
                  *ngIf="confirmPassword.errors.required"
                  class="text-danger"
                >
                  {{ "PLEASE_ENTER_CONFIRM_PASSWORD" | translate }}
                </span>
                <span
                  *ngIf="confirmPassword.errors.pattern"
                  class="text-danger"
                >
                  {{ "PLEASE_ENTER_CONFIRM_PASSWORD_VALIDATION" | translate }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-primary"
        (click)="changePassword(changePassFrm)"
      >
        {{ "SUBMIT" | translate }}
      </button>
      <button type="button" class="btn btn-warning" (click)="decline()">
        {{ "CLOSE" | translate }}
      </button>
    </div>
  </div>
</ng-template>
<app-loader></app-loader>
