<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <form novalidate #emailFrm="ngForm" (ngSubmit)="onEmailSave()">
          <div class="card-body">
            <p class="col-sm-12 text-right requiredLabel">
              <span [innerHTML]="'FORM_NOTE' | translate"></span>
            </p>
            <div class="form-group" *ngFor="let lan of languages">
              <label for="page_title">{{ 'SUBJECT' | translate }} ({{ lan.name }})<span class="asterisk_input"></span></label>
              <input
                [(ngModel)]="model[lan.locale]['emailSubject']"
                [style.direction]="lan.text_direction"
                type="text"
                name="emailSubject_{{ lan.locale }}"
                id="page_title_{{ lan.locale }}"
                class="form-control"
                placeholder="{{ 'SUBJECT' | translate }}"
                required
                #title="ngModel"
              />
              <div class="form-control-feedback text-danger" *ngIf="title.errors && emailFrm.submitted">
                <span *ngIf="title.errors.required">{{ 'PLEASE_ENTER_SUBJECT' | translate }}</span>
              </div>
            </div>
            <div class="form-group">
              <label for="meta_keywords">{{ 'TEMPLATE_TYPE' | translate }}</label>
              <div class="d-block">
                <div class="form-check-inline">
                  <label class="form-check-label"
                    >PUSH
                    <input
                      type="radio"
                      class="form-check-input"
                      name="template_type"
                      value="PUSH"
                      [(ngModel)]="templateType"
                      #template_type="ngModel"
                      disabled
                    />
                    <span class="radio-span"></span>
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="form-check-label"
                    >EMAIL
                    <input
                      type="radio"
                      class="form-check-input"
                      name="template_type"
                      value="EMAIL"
                      [(ngModel)]="templateType"
                      #template_type="ngModel"
                      
                    />
                    <span class="radio-span"></span>
                  </label>
                </div>
                <div class="form-check-inline">
                  <label class="form-check-label"
                    >SMS
                    <input
                      type="radio"
                      class="form-check-input"
                      name="template_type"
                      value="SMS"
                      [(ngModel)]="templateType"
                      #template_type="ngModel"
                      disabled
                    />
                    <span class="radio-span"></span>
                  </label>
                </div>
              </div>
            </div>
            <ng-container *ngIf="templateType == 'SMS'">
              <div *ngFor="let lan of languages">
                <label for="description">{{ 'CONTENT' | translate }} ({{ lan.name }})<span class="asterisk_input"></span></label>
                <textarea
                  [(ngModel)]="model[lan.locale][emailBody]"
                  [style.direction]="lan.text_direction"
                  name="emailcontent_{{ lan.locale }}"
                  id="emailBody_{{ lan.locale }}"
                  rows="5"
                  class="form-control"
                  placeholder="{{ 'CONTENT' | translate }}"
                  required
                  #emailBody="ngModel"
                ></textarea>
                <div class="form-control-feedback text-danger" *ngIf="emailBody.errors && emailFrm.submitted">
                  <span *ngIf="emailBody.errors.required">{{ 'PLEASE_ENTER_CONTENT' | translate }}</span>
                </div>
              </div>
            </ng-container>
            <div *ngIf="templateType != 'SMS'">
              <div class="form-group" *ngFor="let lan of languages">
                <label for="emailBody">{{ 'CONTENT' | translate }} ({{ lan.name }})<span class="asterisk_input"></span></label>
                <ck-editor
                  [(ngModel)]="model[lan.locale].emailBody"
                  name="emailBody_{{ lan.locale }}"
                  skin="moono-lisa"
                  (change)="getCKData(lan.locale, lan.text_direction)"
                  required
                  #emailBody="ngModel"
                  [config]="config"
                  language="{{ lan.locale }}"
                ></ck-editor>
                <div class="form-control-feedback text-danger" *ngIf="ck_error == true && (emailBody.dirty || emailBody.touched)">
                  <p>{{ 'PLEASE_ENTER_CONTENT' | translate }}</p>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="page_title">{{ 'TEMPLATE_FOR' | translate }} <span class="asterisk_input"></span></label>
              <input
                [(ngModel)]="template_for"
                type="text"
                name="template_for"
                id="template_for"
                class="form-control"
                placeholder="{{ 'TEMPLATE_FOR' | translate }}"
                required
                #for_template="ngModel"
              />
              <div class="form-control-feedback text-danger" *ngIf="for_template.errors && emailFrm.submitted">
                <span *ngIf="for_template.errors.required">{{ 'PLEASE_ENTER_TEMPLATE_FOR' | translate }}</span>
              </div>
            </div>
            <div class="form-group">
              <label for="page_title">{{ 'EMAIL_KEY' | translate }} <span class="asterisk_input"></span></label>
              <input
                [(ngModel)]="email_key"
                type="text"
                name="email_key"
                id="email_key"
                class="form-control"
                placeholder="{{ 'EMAIL_KEY' | translate }}"
                required
                #email_template="ngModel"
              />
              <div class="form-control-feedback text-danger" *ngIf="email_template.errors && emailFrm.submitted">
                <span *ngIf="email_template.errors.required">{{ 'PLEASE_ENTER_EMAIL_KEY' | translate }}</span>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary"><i class="fa fa-check-circle-o fa-lg"></i> {{ 'SAVE' | translate }}</button>&nbsp;
            <button class="btn btn-warning" [routerLink]="['/email/list']"><i class="fa fa-times"></i> {{ 'CANCEL' | translate }}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-loader></app-loader>
